.dialog-box-address {
  width: 100%;
}

.address-and-map {
  display: flex;
  flex-direction: row;
}

.form-container-address {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#map-container {
  width: 70%;
  /*height: 400px;*/
  height: 100%;
  background-color: #ffd740;
  margin-left: 30px;
}
