.edit-row-button {
  background-color: green;
  color: #fff;
}

.delete-row-button {
  background-color: darkred;
  color: #fff;
}

.add-notary-button {
  position: center;
  /*top: 50%;*/
}

.add-notary-wrapper {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
