
.DS_Store
convertCSVtoRDF/.idea/convertCSVtoRDF.iml
convertCSVtoRDF/.idea/misc.xml
convertCSVtoRDF/.idea/modules.xml
convertCSVtoRDF/.idea/workspace.xml
notis-backend/src/main/.DS_Store
notis-frontend/.editorconfig
notis-frontend/.gitignore
notis-frontend/e2e/
documentation/Technical Report/.idea/workspace.xml
