<div class="dialog-box-address">
  <h1 mat-dialog-title>{{entityType}} address details</h1>
  <div mat-dialog-content class="dialog-box-address-content">
    <div *ngIf="!isDeleting; else elseTemplate">
      <div class="form-container-address">
        <mat-form-field>
          <input placeholder="Country" matInput [(ngModel)]="localData.country" [disabled]="!isEditing">
        </mat-form-field>
        <mat-form-field>
          <input placeholder="County" matInput [(ngModel)]="localData.county" [disabled]="!isEditing">
        </mat-form-field>
        <mat-form-field>
          <input placeholder="City" matInput [(ngModel)]="localData.city" [disabled]="!isEditing">
        </mat-form-field>
        <mat-form-field>
          <input placeholder="Locality" matInput [(ngModel)]="localData.locality" [disabled]="!isEditing">
        </mat-form-field>
        <mat-form-field>
          <input placeholder="Street" matInput [(ngModel)]="localData.street" [disabled]="!isEditing">
          <mat-hint align="start"><span style="color: gray">eg: <strong>strada</strong> PetreTutea/ <strong>bulevardul</strong> Independentei/ <strong>soseaua</strong> Veche</span> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input placeholder="Street number" matInput [(ngModel)]="localData.streetNumber" [disabled]="!isEditing">
        </mat-form-field>
        <mat-form-field>
          <input placeholder="ZipCode" matInput [(ngModel)]="localData.zipCode" [disabled]="!isEditing">
        </mat-form-field>
        <mat-form-field>
          <input placeholder="others" matInput [(ngModel)]="localData.others" [disabled]="!isEditing">
        </mat-form-field>
      </div>
    </div>
    <ng-template #elseTemplate>
      Sure you want to delete the current address?
    </ng-template>
  </div>
</div>
<div mat-dialog-actions align="end">
  <div *ngIf="!isDeleting; else elseTemplateYes">
    <button mat-button [ngClass]="{
  'address-edit-button': isEditing,
  'address-update-button': !isEditing
}" (click)="doEdit()" mat-flat-button>
      <mat-icon>{{editButtonIcon.toLowerCase()}}</mat-icon>
      {{editButtonIcon}}
    </button>
    <button mat-button class="address-delete-button" (click)="doDelete()" mat-flat-button>
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>

  <ng-template #elseTemplateYes>
    <button mat-button class="address-delete-button" (click)="doDeleteYes()" mat-flat-button>
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </ng-template>
</div>
