.dialog-box-timetable {
  width: 100%;
}

.form-container-timetable {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timetable-edit-button {
  background-color: green;
  color: #fff;
}

.timetable-update-button {
  background-color: #ffd740;
  color: black;
}

.timetable-delete-button {
  background-color: darkred;
  color: #fff;
}

