#map-container-current-location, #map-container-custom-location, #map-container-services-offered {
  width: 95%;
  height: 500px;
  background-color: #ffd740;
  margin: 0 auto;
  padding: 5px;
}

.search-container {
  width: 70%;
  margin: 0 auto;
  padding-left: 40%;
  display: block;
}

.search-entity-type-container, .search-criteria-container, .search-selected-criteria-container {
  margin: 0 auto;
  padding-bottom: 15px;
}

.search-button-container {
  padding-top: 15px;
}

.services-offered-list-container {
  border: 2px solid #ccc;
  width: 400px;
  height: 200px;
  overflow-y: scroll;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child,
.mat-card-actions .mat-stroked-button:first-child {
  margin-left: 5px;
  margin-right: 5px;
}

.popup-marker-current-location, .popup-marker-custom-location, .popup-marker-services-offered {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 80px;
}

.popup-marker-current-location:after, .popup-marker-current-location:before, .popup-marker-custom-location:after,
.popup-marker-custom-location:before, .popup-marker-services-offered:after, .popup-marker-services-offered:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popup-marker-current-location:after, .popup-marker-custom-location:after, .popup-marker-services-offered:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.popup-marker-current-location:before, .popup-marker-custom-location:before, .popup-marker-services-offered:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.popup-marker-current-location-closer, .popup-marker-custom-location-closer, .popup-marker-services-offered-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.popup-marker-current-location-closer:after, .popup-marker-custom-location-closer:after, .popup-marker-services-offered-closer:after {
  content: "✖";
}

#popup-marker-current-location-to-hide, #popup-marker-custom-location-to-hide, #popup-marker-services-offered-to-hide {
  display: none;
}

.entity-details-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.row {
  width: 100%;
  margin: auto;
}

.row div {
  max-width: 33.3333%;
  display: inline-block;
}
